{% extends "layout.html" %}

{% block title %}{{ super() }} | WorldMapping{% endblock %}

{% block styles %}
  <!-- http://jsbin.com/bobawaxoki/edit?html,output-->
  <script src="/static/js/d3.min.js"></script>
  <script src="/static/js/topojson.v1.min.js"></script>
  <script src="/static/js/datamaps.world.min.js?v=1"></script>
{% endblock %}


<!--{% block nolimit %}<div id="container1" style="position:relative; top: -70px;" align="center"></div>{% endblock %}-->
{% block body %}
    <div id="container1" style="position:relative; top: -70px;" align="center"></div>
{% endblock %}


{% block scripts %}
     <script>
       //basic map config with custom fills, mercator projection
      var map = new Datamap({
        scope: 'world',
        element: document.getElementById('container1'),
        projection: 'mercator',
        height: 900,
        fills: {
          defaultFill: '#f0af0a',
          lt50: 'rgba(0,244,244,0.9)',
          gt50: 'green'
        },

        data: {
          USA: {fillKey: 'lt50' },
          RUS: {fillKey: 'lt50' },
          CAN: {fillKey: 'lt50' },
          BRA: {fillKey: 'gt50' },
          ARG: {fillKey: 'gt50' },
          COL: {fillKey: 'gt50' },
          AUS: {fillKey: 'gt50' },
          ZAF: {fillKey: 'gt50' },
          MAD: {fillKey: 'gt50' }
        }
      })


      //sample of the arc plugin
      map.arc([
       {
        origin: {
            latitude: -25.32,
            longitude: 120.32
        },
        destination: {
            latitude: 37.618889,
            longitude: -122.375
        }
      },
      {
          origin: {
              latitude: 21.32,
              longitude: -84.32
          },
          destination: {
              latitude: 21.32,
              longitude: 5.32
          }
      }
      ], {strokeWidth: 2});


       //bubbles, custom popup on hover template
     map.bubbles([
       {name: 'Hot', latitude: 21.32, longitude: 5.32, radius: 10, fillKey: 'gt50'},
       {name: 'Chilly', latitude: -25.32, longitude: 120.32, radius: 18, fillKey: 'lt50'},
       {name: 'Hot again', latitude: 21.32, longitude: -84.32, radius: 8, fillKey: 'gt50'},

     ], {
       popupTemplate: function(geo, data) {
         return "<div class='hoverinfo'>It is " + data.name + "</div>";
       }
     });
     </script>
{% endblock %}