<!DOCTYPE html>
<html>

<head lang="en">
    {% block head %}

        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block title %}
            <title>{% block intitle %}Nimbus Scanner Controlpanel - Scan with rage, exploit with love!{% endblock %}</title>
        {% endblock %}

        {% block css %}
            <!-- Bootstrap Core CSS -->
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">

            <!-- MetisMenu CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.css') }}">

            <!-- Timeline CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}">

            <!-- Custom CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sb-admin-2.css') }}">

            <!-- Morris Charts CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/morrisjs/morris.css') }}">

            <!-- Custom Fonts -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
        {% endblock %}

        {% block iefix %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

    {% endblock %}
</head>

<body>
{% block content %}{% endblock %}

{% block javascript %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!--<script src="../bower_components/jquery/dist/jquery.min.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <!--<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>-->

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/raphael/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/morrisjs/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris-data.js') }}"></script>
    <!--<script src="../bower_components/raphael/raphael-min.js"></script>-->
    <!--<script src="../bower_components/morrisjs/morris.min.js"></script>-->
    <!--<script src="../js/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
    <!--<script src="../dist/js/sb-admin-2.js"></script>-->

{% endblock %}
</body>
</html>